    /* #circle {
        width: 0px;
        height: 0px;
        border-right: 30px solid transparent;
        border-top: 30px solid #FFCC00;
        border-left: 30px solid #FFCC00;
        border-bottom: 30px solid #FFCC00;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom-right-radius: 30px;
        animation: action 0.7s infinite alternate;
    }
    @keyframes action {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    } */

    #logo {
        animation: action 0.7s infinite alternate;
    }
    @keyframes action {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }


    #speaker {
        width: 200px;
        height: 200px;
        background-color: #FFCC00;
        border-radius: 50%;
        position: static;
        top: 40em;
    }

    #coin {
        width: 320px;
        height: 320px;
        background-color: #FFCC00;
        border-radius: 50%;
        position: static;
        top: 30em;
    }

    #plasmaOrb {
        width: 250px;
        height: 250px;
        background-color: #FFCC00;
        border-radius: 50%;
        position: static;
    }

    #speaker-image{
        height: 250px;
        animation: speaker 0.1s infinite alternate;
    }
    @keyframes speaker {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-10px);
        }
    }

    #nzonedollar{
        position: sticky;
        right: 40em;
        height: 100px;
        transition: all 2s ease-in-out;
    }

    #nzonedollar:hover{
        transform: rotate(360deg);
    }